Проверка существует ли шум на рынке

In [8]:
from datetime import datetime
from MetaTrader5 import *

MT5Initialize()
MT5WaitForTerminal()

True

In [9]:
ticks2 = MT5CopyTicksRange("EURUSD", datetime(2020,1,1), datetime(2020,1,22), MT5_COPY_TICKS_ALL)

In [10]:
import pandas as pd
ticks_frame = pd.DataFrame(list(ticks2),
                           columns=['time', 'bid', 'ask', 'last', 'volume', 'flags'])

In [11]:
ticks_frame

                          time      bid      ask  last  volume  flags
0      2019-12-31 18:00:00.037  1.12237  1.12241   0.0     0.0    134
1      2019-12-31 18:00:00.261  1.12235  1.12240   0.0     0.0    134
2      2019-12-31 18:00:00.458  1.12235  1.12239   0.0     0.0      4
3      2019-12-31 18:00:00.650  1.12233  1.12238   0.0     0.0    134
4      2019-12-31 18:00:00.850  1.12234  1.12239   0.0     0.0    134
...                        ...      ...      ...   ...     ...    ...
619819 2020-01-21 17:59:56.384  1.10978  1.10983   0.0     0.0    134
619820 2020-01-21 17:59:56.786  1.10978  1.10982   0.0     0.0      4
619821 2020-01-21 17:59:58.188  1.10976  1.10982   0.0     0.0    130
619822 2020-01-21 17:59:58.479  1.10977  1.10982   0.0     0.0    130
619823 2020-01-21 17:59:59.912  1.10976  1.10981   0.0     0.0    134

[619824 rows x 6 columns]

In [12]:
ticks_frame['delta'] = ticks_frame['bid'].diff(1).fillna(0)

In [13]:
ticks_frame

                          time      bid      ask  last  volume  flags    delta
0      2019-12-31 18:00:00.037  1.12237  1.12241   0.0     0.0    134  0.00000
1      2019-12-31 18:00:00.261  1.12235  1.12240   0.0     0.0    134 -0.00002
2      2019-12-31 18:00:00.458  1.12235  1.12239   0.0     0.0      4  0.00000
3      2019-12-31 18:00:00.650  1.12233  1.12238   0.0     0.0    134 -0.00002
4      2019-12-31 18:00:00.850  1.12234  1.12239   0.0     0.0    134  0.00001
...                        ...      ...      ...   ...     ...    ...      ...
619819 2020-01-21 17:59:56.384  1.10978  1.10983   0.0     0.0    134  0.00003
619820 2020-01-21 17:59:56.786  1.10978  1.10982   0.0     0.0      4  0.00000
619821 2020-01-21 17:59:58.188  1.10976  1.10982   0.0     0.0    130 -0.00002
619822 2020-01-21 17:59:58.479  1.10977  1.10982   0.0     0.0    130  0.00001
619823 2020-01-21 17:59:59.912  1.10976  1.10981   0.0     0.0    134 -0.00001

[619824 rows x 7 columns]

In [14]:
from incl import *

In [15]:
dtl=ticks_frame['delta'].values
hurst(dtl)

-0.00013288601539914152